:root {
	/* background */
	--main-bg: #4685ff;
	--secondary-bg: #ffffff;

	/* link */
	--link-bg: #ffffff;
	--link-hover-bg: #dddddd;

	/* button */
	--button-bg: var(--link-bg);
	--button-hover-bg: var(--link-hover-bg);

	/* input */
	--input-bg: var(--link-bg);
	--input-focus-bg: var(--link-hover-bg);

	/* card */
	--card-bg: #4685ffee;
}
