.link {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 15px;
	height: 38px;
	min-width: 100px;
	border-radius: 10px;
	font-size: 1.2rem;
	text-decoration: none;
	color: #000000;
	background-color: var(--link-bg);
	transition: all 0.2s linear;

	&:hover {
		background-color: var(--link-hover-bg);
	}
}
