.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 8px;
	padding: 8px;
	border-radius: 10px;
	color: #ffffff;
	background-color: var(--card-bg);

	@media (width > 425px) {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px;
	}
}

.card .input,
.card__text {
	grid-column: 1 / -1;
	grid-row: 1 / 1;
}

.card__text {
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.card .select {
	height: 28px;
	outline: none;
	border: none;
	border-radius: 10px;
	background-color: var(--input-bg);
	transition: all 0.2s linear;

	&:hover,
	&:focus {
		background-color: var(--input-focus-bg);
	}
}

.card .input,
.card__text {
	flex-grow: 1;
}
